<section class="row large-8 offset-2">
  <form action="" method="POST">
      <fieldset>
        <legend>Create a new vote</legend>

        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-2 columns">
                <label for="title" class="center inline">Title</label>
              </div>
              <div class="large-10 columns">
                <textarea id="title" name="title" >
                </textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-2 columns">
                <label for="description" class="center inline">Description</label>
              </div>
              <div class="large-10 columns">
                <textarea id="description" name="description" >
                </textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-2 large-offset-10 columns">
            <button class="button radius">Submit</button>
          </div>
        </div>

      </fieldset>

  </form>

</section>