<section class="row">
  <div class="large-12 columns">
    <ul>
      {{range .}}
          <div class="panel radius">
            <div class="row">
              <div class="large-11 columns">
                <header><a href="{{.Link}}"><h3>{{.Title}}<h3></a></header>
                <aside class="row">
                  <small class="large-8 columns">Submitted by {{.Submitter}} at {{.SubmissionTime.Format "02-01-2006 15:04:05"}}</small>
                </aside>
              </div>
              <div class="large-1 columns right">
                <span class="upvote-count">{{.Upvote}}</span>
                <a href="#" class="upvote" data-vote-item-id="{{.ParentID}}" data-id="{{.ID}}">
                  <i class="foundicon-up-arrow upvote-arrow"></i>
                </a>
              </div>
            </div>

          </div>
      {{end}}
    </ul>
  </div>
</section>